/* -----------------------------첫번째 탭----------------------------- */

.sub_wrap {
    width: 1060px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.top_title_wrap {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

.top_title_wrap a:hover {
    text-decoration: underline;
}

.top_title_wrap .left {
    width: 740px;
    float: left;
    text-align: left;
}


.top_title_wrap .left .tlist li {
    list-style: none;
    padding-bottom: 12px;
}

.top_title_wrap .right {
    width: 60px;
    float: right;
    text-align: right;
    padding-top: 10px;
}

.top_main_title{
    font-size: 26px;
    font-family: "Noto Sans KR",Malgun Gothic,'Segoe WPC', 'Segoe UI', 'Apple SD Gothic Neo', Helvetica, AppleGothic, Sans-serif;
    color: #222;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: -0.05em;
    font-weight: 600;
}

.top_sub1_title {
    font-size: 15px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    color: #222;
    text-decoration: none;
    line-height: 1.4;
    letter-spacing: -0.02em;
}

.top_sub2_title {
    font-size: 14px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    color: #444;
    text-decoration: none;
}

.label_wrap span {
    display: inline-block;
    background: #ffffff;
    border-radius: 3px;
    padding: 0 8px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 11px;
    color: #555;
    margin-right: 5px;
    letter-spacing: -0.04em;
    font-family: Malgun Gothic,'Segoe WPC', 'Segoe UI', 'Apple SD Gothic Neo', Helvetica, AppleGothic, Sans-serif;
    border: 1px solid #e5e5e5;
}


/* -----------------------------도서커버----------------------------- */


/* 도서커버 섹션 컨테이너 */
.book_wrap {
    width: 1060px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.Bcoverwrap {
    margin: 0;
    padding: 0;
    float: left;
    width: 500px;
}

.Bcoverwrap .cover {
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
    width: 502px;
    text-align: center;
}


.Bcoverwrap .cover img {
    max-width: 500px;
}

/* 회전 도서 호버 왼쪽 화살표 */
.Bcoverwrap .arr2_left {
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 25%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opactiy 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.arr2_left.new span {
    background: url(https://image.aladin.co.kr/img/welcome/arrow-left-white.svg) rgba(58, 58, 58, 0.4) no-repeat center / 15px auto;
    left: 5px;
}

.Bcoverwrap .leftarrow2 a {
    top: 45%;
    left: 10px;
    position: absolute;
}



/* 회전 도서 호버 오른쪽 화살표 */
.Bcoverwrap .arr2_right {
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 25%;
    height: 100%;
    top: 0;
    left: 75%;
    cursor: pointer;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opactiy 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.arr2_right.new span {
    background: url(https://image.aladin.co.kr/img/welcome/arrow-right-white.svg) rgba(58, 58, 58, 0.4) no-repeat center / 15px auto;
    right: 5px;
}


/* 회전 도서 호버 왼쪽 && 오른쪽 화살표 모두 */


.Bcoverwrap .leftarrow2 img, .Bcoverwrap .rightarrow2 img {
    width: 19px;
    text-align: left;
}

.leftarrow2.new span, .arr2_right.new span {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1px;
    color: transparent;
    text-indent: -100rem;
}



/*--- 도서 회전 속성 ---*/


.book .imgbox {
    border: 1px solid #ddd;
}


.book li {
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
    position: relative;
    width: 100%;
    float: left;
    z-index: 1;
}

.c_back, .c_left {
    overflow: hidden;
}

/* 회전 cursor */
.book li .coverItem {
    cursor: url(https://image.aladin.co.kr/img/shop/mousecursor2.png), pointer !important;
    position: absolute;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    -moz-transition: -moz-transform .5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    transition: transform .5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

/* 도서 표지||앞면 */


.book li .coverItem > div, .book li .c_front > div {
    display: block;
    position: absolute;
}

.coverItem.default .c_front {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transition: transform .5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}



/* 도서 책등 || 왼쪽 */
.coverItem.default .c_left {
    opacity: 1;
    transform: rotateY(-90deg) translate3d(-43px,0,0);
    transition: transform .5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}



/* 도서 뒷면 */

.c_back {
    height: 745px;
}

.coverItem.default .c_front::after, .coverItem.bk-viewback .c_back::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 12px 3px rgba(0, 0, 0, 0.05);
}

.coverItem.default .c_back {
    -webkit-transform: rotate3d(0,1,0,-180deg) translate3d(0,0,92px);
    -moz-transform: rotate3d(0,1,0,-180deg) translate3d(0,0,92px);
    transform: rotate3d(0,1,0,-180deg) translate3d(0,0,92px);
    box-shadow: -20px 40px 15px rgba(0,0,0,0.3);
    transition: box-shadow .5s ease-in-out, transform .5s ease-in-out;
}
